includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon

    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon

    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

    - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon

parameters:
    paths:
        - config
        - src
        - tests
    level: max
    checkUninitializedProperties: true
    excludes_analyse:
        - tests/bootstrap.php