<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <style>
        html,
        body {
            padding: 0;
            margin: 0;
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/charts.css/dist/charts.min.css">
</head>

<body>
    <style>
        #my-chart.area {
            --labels-size: 3rem;
        }
    </style>
    <pre>
        {{ data|json_encode }}
    </pre>
    <div id="myChart">
        <table class="charts-css area show-primary-axis show-data-axes  show-heading show-labels" id="my-chart"
            style="height: 550px;">

            <caption>Chat activity log (UTC+0)</caption>
            <tbody>
                <tr>
                    <th scope="row">16:00</th>
                    <td style="--start: 0.0; --size: 0.1"> </td>
                </tr>
                <tr>
                    <th scope="row">17:00</th>
                    <td style="--start: 0.1; --size: 0.2"> </td>
                </tr>
                <tr>
                    <th scope="row">18:00</th>
                    <td style="--start: 0.2; --size: 0.1"> </td>
                </tr>
                <tr>
                    <th scope="row">19:00</th>
                    <td style="--start: 0.1; --size: 0.3"> </td>
                </tr>
                <tr>
                    <th scope="row">20:00</th>
                    <td style="--start: 0.3; --size: 0.2"> </td>
                </tr>
                <tr>
                    <th scope="row">21:00</th>
                    <td style="--start: 0.2; --size: 0.0"> </td>
                </tr>
                <tr>
                    <th scope="row">16:00</th>
                    <td style="--start: 0.0; --size: 0.1"> </td>
                </tr>
                <tr>
                    <th scope="row">17:00</th>
                    <td style="--start: 0.1; --size: 0.2"> </td>
                </tr>
                <tr>
                    <th scope="row">18:00</th>
                    <td style="--start: 0.2; --size: 0.1"> </td>
                </tr>
                <tr>
                    <th scope="row">19:00</th>
                    <td style="--start: 0.1; --size: 0.3"> </td>
                </tr>
                <tr>
                    <th scope="row">20:00</th>
                    <td style="--start: 0.3; --size: 0.2"> </td>
                </tr>
                <tr>
                    <th scope="row">21:00</th>
                    <td style="--start: 0.2; --size: 0.0"> </td>
                </tr>
                <tr>
                    <th scope="row">16:00</th>
                    <td style="--start: 0.0; --size: 0.1"> </td>
                </tr>
                <tr>
                    <th scope="row">17:00</th>
                    <td style="--start: 0.1; --size: 0.2"> </td>
                </tr>
                <tr>
                    <th scope="row">18:00</th>
                    <td style="--start: 0.2; --size: 0.1"> </td>
                </tr>
                <tr>
                    <th scope="row">19:00</th>
                    <td style="--start: 0.1; --size: 0.3"> </td>
                </tr>
                <tr>
                    <th scope="row">20:00</th>
                    <td style="--start: 0.3; --size: 0.2"> </td>
                </tr>
                <tr>
                    <th scope="row">21:00</th>
                    <td style="--start: 0.2; --size: 0.0"> </td>
                </tr>
                <tr>
                    <th scope="row">16:00</th>
                    <td style="--start: 0.0; --size: 0.1"> </td>
                </tr>
                <tr>
                    <th scope="row">17:00</th>
                    <td style="--start: 0.1; --size: 0.2"> </td>
                </tr>
                <tr>
                    <th scope="row">18:00</th>
                    <td style="--start: 0.2; --size: 0.1"> </td>
                </tr>
                <tr>
                    <th scope="row">19:00</th>
                    <td style="--start: 0.1; --size: 0.3"> </td>
                </tr>
                <tr>
                    <th scope="row">20:00</th>
                    <td style="--start: 0.3; --size: 0.2"> </td>
                </tr>
                <tr>
                    <th scope="row">21:00</th>
                    <td style="--start: 0.2; --size: 0.0"> </td>
                </tr>
            </tbody>

        </table>

    </div>
</body>

</html>