<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <style>
        .reportGraph {
            width: 900px
        }

        html,
        body {
            padding: 0;
            margin: 0;
        }
    </style>
</head>

<body>

    <div class="reportGraph"><canvas id="canvas"></canvas></div>

    <script>
        var labels = {{ labels| json_encode | raw }};
        var data = {{ data| json_encode | raw }};
    </script>

    <script type="text/javascript">
        // wkhtmltopdf 0.12.5 crash fix.
        // https://github.com/wkhtmltopdf/wkhtmltopdf/issues/3242#issuecomment-518099192
        'use strict';
        (function (setLineDash) {
            CanvasRenderingContext2D.prototype.setLineDash = function () {
                if (!arguments[0].length) {
                    arguments[0] = [1, 0];
                }
                // Now, call the original method
                return setLineDash.apply(this, arguments);
            };
        })(CanvasRenderingContext2D.prototype.setLineDash);
        Function.prototype.bind = Function.prototype.bind || function (thisp) {
            var fn = this;
            return function () {
                return fn.apply(thisp, arguments);
            };
        };

        function drawGraphs() {
            new Chart(
                document.getElementById("canvas"), {
                "responsive": false,
                "type": "line",
                "data": {
                    "labels": labels,
                    "datasets": [{
                        "label": "Chat activity log (UTC+0)",
                        "data": data,
                        "fill": true,
                        "backgroundColor": 'rgba(255, 99, 132, 0.2)',
                        "borderColor": 'rgba(255, 99, 132, 1)',
                        "lineTension": 0.3,
                        "borderWidth": 1.5
                    }]
                },
                "options": {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    },
                    maintainAspectRatio: true,
                    responsive: true,
                    aspectRatio: 4 / 3,
                    animation: {
                        duration: 0
                    },
                }
            }
            );
        }
        window.onload = function () {
            drawGraphs();
        };
    </script>
</body>

</html>